/* Universal */
* {
  /* Position */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Design */
  list-style: none;
  text-decoration: none;
}

/* Anchor */
a {
  /* Link Decoration */
  text-decoration: none;
  color: var(--Light);
}

.Hover {
  /* Cursor Decoration */
  cursor: pointer;
}

/* Global Variables */
html {
  /* Base colors */
  --Dark: #000000;
  --Light: #ffffff;

  /* Dark theme Primary colors */
  --PrimaryA0: #9770b6;
  --PrimaryA10: #a37fbe;
  --PrimaryA20: #ae8ec6;
  --PrimaryA30: #ba9ece;
  --PrimaryA40: #c5aed6;
  --PrimaryA50: #d1bedf;

  /* Dark theme Surface colors */
  --SurfaceA0: #121212;
  --SurfaceA10: #282828;
  --SurfaceA20: #3f3f3f;
  --SurfaceA30: #575757;
  --SurfaceA40: #717171;
  --SurfaceA50: #8b8b8b;

  /* Dark theme Tonal Surface colors */
  --SurfaceTonalA0: #2a232f;
  --SurfaceTonalA10: #3e3843;
  --SurfaceTonalA20: #544d58;
  --SurfaceTonalA30: #6a646e;
  --SurfaceTonalA40: #817c84;
  --SurfaceTonalA50: #99959c;

  /* Spacing */
  --MarginA0: 1.5em;
  --MarginA10: 1em;
  --MarginA20: 0.5em;
  --PaddingA0: 1em;
  --PaddingA10: 0.5em;
  --PaddingA20: 0.25em;
  --FlexGapA0: 0.2rem;
  --FlexGapA10: 0.1rem;
  --FlexGapA20: 0.25rem;

  /* Text */
  --FontSizePrimary: 1rem;
  --FontSizeTitle: 6rem;
  --FontSizeFinePrint: 0.7rem;

  /* Scrolling */
  scroll-behavior: smooth;
}

/* Scoll Bar */

/* width */
::-webkit-scrollbar {
  width: var(--MarginA20);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--SurfaceA10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--PrimaryA0);
}


/* Body Classes */
/* Body */
/* Main */


body {
  /* Text */
  /* Uses Built In windows Consolas font by default, 
        falls back onto jetbrains mono font */
  font-family: Consolas, Monaco, 'JetBrains Mono', monospace;
  font-size: var(--FontSizePrimary);
  color: var(--Light);
  background-color: var(--SurfaceA0);

}

.ProjectBody {
  padding: var(--MarginA0);
  width: 100%;
}

main {
  /* Display */
  display: flex;
  flex-direction: column;

  /* Dimensions */
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  /* Spacing */
  padding-right: var(--MarginA10);
  margin-left: var(--MarginA10);
}

#BodyWrap {
  display: flex;
  flex-direction: row;
}

/* Allignment: */
/* Inline */
/* Flex */

.InlineBlockWrapper {
  width: fit-content;
}

.InlineBlockWrapper > * {
  display: inline-block;
  vertical-align: top;
}

.FlexRow {
  /* Display */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--MarginA20);
}

.FlexColumn {
  /* Display */
  display: flex;
  flex-direction: column;
}

.Wrap {
  flex-wrap: wrap;
}

.AlignCenter {
  align-items: center;
}

.MarginLeftAuto {
  margin-left: auto;
}

.MarginGapBottom {
  margin-bottom: var(--MarginA20);
}

/* Tool Classes */
/* Tooltips */
/* Tags */

.Tooltip {

  position: relative;
  display: inline-block;
}

.Tooltip span {
  /* Display */
  visibility: hidden;
  width: 130px;

  /* Background */
  background-color: var(--SurfaceA20);

  /* Text */
  color: var(--Light);
  text-align: center;

  /* Border */
  border-radius: 0.5em;

  /* Position */
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -65px;
  bottom: 125%;

  /* Spacing */
  padding: var(--PaddingA20) var(--PaddingA10);

  /* Effects */
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 0px 10px 2px var(--Dark);

}


.Tooltip:hover span {
  visibility: visible;
  opacity: 1;
}

/* Tooltip arrow */
.Tooltip span::after {
  /* Shape */
  content: "";
  border-style: solid;
  border-color: var(--SurfaceA20) transparent transparent transparent;

  /* Position */
  position: absolute;
  top: 100%;
  left: 50%;

  /* Spacing */
  margin-left: -5px;
  border-width: 5px;
}


.Tag,
button {
  /* Dimensions */
  width: fit-content;
  box-sizing: content-box;
  padding: var(--PaddingA10) var(--PaddingA10) var(--PaddingA10) var(--PaddingA10);

  /* Background */
  background-color: var(--SurfaceA20);

  /* Border */
  border-radius: 0.5em;

  /* Spacing */
  margin-bottom: var(--MarginA20);
  color: var(--Light)
}

.SmallImgTag {
  width: 3rem;
  height: 3rem;
}

.BigImgTag {
  width: 6rem;
  height: 6rem;
}

/* Text Configs */
.TextHighlightPrimary {
  color: var(--PrimaryA0);
}

.TextFinePrint {
  color: var(--SurfaceA40);
  font-size: var(--FontSizeFinePrint);
}

.FitContent {
  width: fit-content;
}


/* Header Elements */
/* Nav */
/* Header */
header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--MarginA10);
}

.NavLine {
  /* Dimensions */
  min-width: fit-content;

  /* Background */
  background-color: var(--SurfaceA10);

  /* Position */
  z-index: 5;
  position: relative;

  /* Border */
  border-right-style: solid;
  border-right-color: var(--Dark);
  border-right-width: 1px;
}

nav {
  /* Dimensions */
  width: max-content;
  height: fit-content;
  padding: var(--PaddingA0);

  /* Position */
  position: sticky;
  top: var(--MarginA0);

  /* Background */
  background-color: var(--SurfaceA20);

  /* Border */
  border-style: solid none;
  border-width: 1px;
  border-color: var(--Dark);
}

nav li {
  margin: var(--MarginA20) 0;
}

nav li:hover {
  color: var(--PrimaryA0);
}

/* General Page Elements */

/* Main Image Class, use for images for thumbnails, stamps and cards */
.CoverImage {
  object-fit: cover;
  object-position: center;
  border-radius: 0.5em;
}

/* Figure Class with margin and wide text */
.Thumbnail {
  /* Spacing */
  margin-bottom: var(--MarginA20);
}

.Thumbnail img {
  width: 100%;
}

.Thumbnail figcaption,
.SnapShot figcaption {
  /* Dimensions */
  width: 100%;
  padding: var(--PaddingA10);

  /* Background */
  background-color: var(--SurfaceA10);

  /* Text Align */
  text-align: center;
}

.Showcase,
.Card,
.Stamp,
.Pannel {
  /* Dimensions */
  padding: var(--PaddingA10);

  /* Display */
  border-radius: 0.5em;
  z-index: 1;

  /* Spacing */
  margin-top: var(--MarginA20);

  /* Filter */
  box-shadow: 0 0 20px 1px var(--Dark);
}

.ProjectPannel {
  max-width: 916px;
}

.Showcase {
  /* Dimensions */
  width: 380px;
  min-height: fit-content;
  height: 568px;

  /* Display */
  background-color: var(--SurfaceA0);
  border: solid 0.2em var(--SurfaceA20);
}

.Showcase .Thumbnail img {
  height: 300px;
}

.SnapShot img,
.SnapShot video {
  width: 300px;
  height: 300px;
}

.Card {
  width: 320px;

  /* Display */
  background-color: var(--SurfaceA0);
  border: solid 0.2em var(--SurfaceA20);
}

.Card .Thumbnail img {
  height: 100px;
}

.Stamp {
  /* Dimensions */
  width: 320px;
  height: max-content;

  /* Display */
  background-color: var(--SurfaceA10);
}

.Stamp img {
  width: 100%;
  margin-bottom: var(--MarginA20);
}

.Book img {
  height: 400px;
}
}

.Ex img {
  height: 100px;
}



.Pannel {
  /* Dimensions */
  width: 100%;
  height: fit-content;

  /* Display */
  background-color: var(--SurfaceA10);
  display: flex;
  flex-direction: column;
}

.Pannel ul {
  /* List Styling */
  list-style: circle;

  /* Spacing */
  margin: var(--MarginA10) 0 var(--MarginA10) 0;
}

.Pannel ul li {
  /* List Syling */
  list-style: circle;

  /* Spacing */
  margin-left: Calc(var(--MarginA0) + 14px);
}

button:hover {
  cursor: pointer;
}

/* Contact */
/* Footer */
footer {
  /* Dimensions */
  width: 100%;
  height: fit-content;
  padding: var(--PaddingA0) 0 3em 0;

  /* Display */
  text-align: center;
  align-items: center;
  border-top: solid 4px var(--PrimaryA0);
}

footer q {
  width: 50%;
  margin: var(--MarginA10) 0;
}

/* Specifics: */
/* Styles created for one off instances */
/* Usually Individual Section Stuff */

#HelloWorld {
  font-size: var(--FontSizeTitle);
}

#CVDownloadButton {

  /* Position */
  position: relative;

  /* Spacing */
  margin-left: auto;
}

#CVDownloadButton .Tooltip span {
  left: 0%;
}


.CVTitle {
  display: flex;
  flex-direction: row;
  gap: var(--MarginA20);
}

.CVDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}



/* Media Formatting */
.MediaCenter {}

/* Tablets: */
@media only screen and (max-width: 1280px) {

  .NavLine {
    visibility: hidden;
    overflow: hidden;
    min-width: 0px;
    border: none;
    flex-basis: 0;
  }

  nav {
    width: 0;
    position: relative;
    border: none;
  }
}

@media only screen and (max-width: 962px) {

  main {
    align-items: center;
  }

  .MediaCenter {
    justify-content: center;
  }

  header {
    align-items: center;
  }

  .CVTitle {
    flex-direction: column;
  }

  .CVTitle * {
    align-items: center;
  }

  .CVDate {
    margin-left: 0;
    align-items: center;

  }

}

@media only screen and (max-width: 809px) {
  .Showcase {
    width: 340px;
  }

}

@media only screen and (max-width: 768px) {
  #Contact .FlexRow {
    display: block;
  }

  header {
    text-align: center;
  }

  ul {
    text-align: left;
  }

  .Pannel .FlexRow {
    justify-content: center;
  }
}
